body {
	padding-bottom: 4rem;
}
.scrollbox {
	overflow-y: auto;
	height: 420px;
}
.overflow-hidden {
	overflow: hidden;
}

.group-by-holder {
	margin: 1em 0;
}

#tree .glyphicon-folder-open {
	width: 16px;
}
.selected-item {
	position: fixed;
	left: 0;
	right: 0;
	bottom: 0;
	background: #eee;
	height: 4rem;
}
.selected-item > * {
	display: inline-block;
	margin: 0 0.8rem;
}
.scheme-star {
	background: #fff url(images/Star-Network.png) 50% 50% no-repeat;
	background-size: contain;
	height: 8rem;
	width: 8rem;
	position: absolute;
	right: 2rem;
	top: 40%;
	z-index: 10;
	border: 1rem solid #fff;
	filter: hue(20deg);
}
.scheme-content-holder {
	position: relative;
	height: 100%;
	width: 100%;
	overflow: hidden;
}
/*
svg:nth-of-type(1) {
	background: rgba(100,0,0,0.1);
}
svg:nth-of-type(2) {
	background: rgba(0,100,0,0.1);
}
svg:nth-of-type(3) {
	background: rgba(0,0,100,0.1);
}
svg:nth-of-type(4) {
	background: rgba(0,100,100,0.1);
}
svg:nth-of-type(5) {
	background: rgba(100,0,100,0.1);
}
svg:nth-of-type(5) {
	background: rgba(100,100,0,0.1);
}*/
